In [1]:
import pandas as pd

hint: For a DataFrame, passing a single label selects a columns and yields a Series equivalent to df.A

In [2]:
df = pd.read_csv('datasets/titanic.csv')

In [ ]:
# 2 ways of selecting a column
age_column = df['Age']
cabin_column = df.Cabin

In [ ]:
# selecting some rows using slice
df[1: 5]

In [ ]:
# Selection by row label
df.loc[4]

df.loc[:, 'Pclass']

practice: df.loc["20130102":"20130104", ["A", "B"]]

In [30]:
# For getting fast access to a scalar
df.at[20, "Age"]

35.0

In [ ]:
df.iloc[90:115, [1, 2]]

practice: df.iloc[:, 1:3]

In [ ]:
# select rows where age is higher than 60

df[df['Age'] > 60]

In [ ]:

df[df['Cabin'].isin(['B30', 'B42'])]